<div style="text-align:center">
  <h1 style="color: #009879;">
    Angular Table
  </h1>
<!-- <<<<<<< HEAD -->
</div>
<div class="pageclass">
  <pagination-controls class="pageclass" (pageChange)="p = $event"></pagination-controls>
</div>
<!-- ======= -->
  <!-- <nav  class="pageclass" aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->
 
<!-- >>>>>>> 65690a04f62152ed0aa24786d8fe0f4fd61c78b2 -->

 <table class="styled-table">
   <thead>
     <tr>
       <th>UserId</th>
       <th>Id</th>
       <th>Title</th>
       <th>Body</th>
     </tr>

   </thead>
   <tbody>
    
     <tr *ngFor="let image of data | paginate: { itemsPerPage: 10, currentPage: p }">
       <td>{{image.userId}}</td>
       <td>{{image.id}}</td>
       <td>{{image.title}}</td>
       <td>{{image.body}}</td>
     </tr>
   </tbody>
  </table>